.vs/
.vscode/

# Source code
/ECE461_CLI/bin
/ECE461_CLI/obj
/ECE461_CLI/.vs

/ECE461_CLI/bin/
/ECE461_CLI/obj/
/ECE461_CLI/.vs/

*/ECE461_CLI/bin
*/ECE461_CLI/obj
*/ECE461_CLI/.vs

/ECE461_CLI/bin/*
/ECE461_CLI/obj/*
/ECE461_CLI/.vs/*

# Test code
/ECE461_CLI.Tests/bin
/ECE461_CLI.Tests/obj
/ECE461_CLI.Tests/.vs

/ECE461_CLI.Tests/bin/
/ECE461_CLI.Tests/obj/
/ECE461_CLI.Tests/.vs/

*/ECE461_CLI.Tests/bin
*/ECE461_CLI.Tests/obj
*/ECE461_CLI.Tests/.vs

/ECE461_CLI.Tests/bin/*
/ECE461_CLI.Tests/obj/*
/ECE461_CLI.Tests/.vs/*
