# Source code
/ECE_461_CLI/bin
/ECE_461_CLI/obj
/ECE_461_CLI/.vs

/ECE_461_CLI/bin/
/ECE_461_CLI/obj/
/ECE_461_CLI/.vs/

*/ECE_461_CLI/bin
*/ECE_461_CLI/obj
*/ECE_461_CLI/.vs

/ECE_461_CLI/bin/*
/ECE_461_CLI/obj/*
/ECE_461_CLI/.vs/*

# Test code
/ECE_461_CLI.Tests/bin
/ECE_461_CLI.Tests/obj
/ECE_461_CLI.Tests/.vs

/ECE_461_CLI.Tests/bin/
/ECE_461_CLI.Tests/obj/
/ECE_461_CLI.Tests/.vs/

*/ECE_461_CLI.Tests/bin
*/ECE_461_CLI.Tests/obj
*/ECE_461_CLI.Tests/.vs

/ECE_461_CLI.Tests/bin/*
/ECE_461_CLI.Tests/obj/*
/ECE_461_CLI.Tests/.vs/*
